.section__hero{
    height: 49vw;
    background: none;
    #banner{
        position: absolute;
        width: 100%;
        //height: 51vw;
    }
    .container-1440{
        height: 50vw;
        display: flex;
        align-items: center;
        .hero-wrap{
            .hero-left-wrap{
                padding-top: inherit;
                width: 50vw;
                padding-bottom: 0vw;
                .h1{
                    font-size: 2.5vw;
                    line-height: inherit;
                    font-weight: bold;
                    font-family: Cabal-Bold, Cabal;

                }
                .font-s{
                    font-size: 2.5vw;
                }
                .p{
                    font-size: 1vw;
                    font-family: Cabal-Regular, Cabal;
                    font-weight: 400;
                    line-height:inherit;
                    margin-top: 1vw;
                    width: 100%;
                    max-width: 100%;
                }
            }
            .hero-right-wrap{
                display:none;
            }
            .coye{
                margin-top: 0.5vw;
                width: 100%;
                height: 4.2vw;
                justify-content: space-between;
                display: flex;
                align-items: center;
                position: relative;
                .coye-l{
                    font-family: Cabal-Regular, Cabal;
                    width: 100%;
                    height: 3.5vw;
                    padding: 1.8vw 2vw;
                    border-radius: @fillet;
                    display:flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 0.8vw;
                    float: left;
                    border: 2px solid #FFC14A;
                    color: #FFC14A;
                    background: linear-gradient(269deg, rgba(53, 1, 106, 0.5) 0%, rgba(95, 19, 127, 0.66) 100%);
                }
                .m{
                    display: none;
                }
                .coye-r{
                    width: 20%;
                    height: auto;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: @fillet;
                    font-size: 0.7vw;
                    font-weight: bold;
                    background:#FFC14A;
                    white-space:nowrap;
                    position: absolute;
                    right: 0.4vw;
                    font-family: Cabal-Regular, Cabal;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.84);
                    padding: 0.8vw 0.1vw;
                }
            }
            .container-button{
                width: 100%;
                margin-top: 2vw;
                font-family: Cabal-Regular, Cabal;
                .button-a{
                    width: 45%;
                    float: left;
                    border: 0;
                    font-size: 0.9vw;
                    font-weight: 400;
                    background:rgba(255,255,255,0);
                    color:#FFFFFF;
                    border-radius: @fillet;
                    border: 2px solid #FFC14A;
                    height: 3vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .button-b{
                    width: 45%;
                    float: right;
                    border: 0;
                    font-size: 0.9vw;
                    font-weight: 400;
                    background:rgba(255,255,255,0);
                    color:#FFFFFF;
                    border-radius: @fillet;
                    border: 2px solid #FFC14A;
                    height: 3vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .po-s{
        height: 720px;
        background: linear-gradient(180deg, #3A447F 0%, #773785 47%, #35457E 100%);
        border-radius: 0px 0px 0px 0px;
        opacity: 1;
        position: relative;
    }
    .hero__scrollbtn{
        display: none;
    }
    .section__hero{
        margin-top: 70px;
        margin-bottom: -150px;
        z-index: 7;
        height: auto;
        #banner{
            display: none;
        }
        .container-1440{
            height: auto;
            .hero-wrap{
                width: 100%;
                .hero__scrollbtn{
                    display: none;
                }
                .hero-left-wrap{
                    width: 100%;
                    padding-top: 4.8vw;
                    padding-bottom: 4.8vw;
                    .h1{
                        line-height: normal;
                        margin-bottom: 4.8vw;
                        text-align:center;
                        width: 100%;
                        font-size: 7vw;

                    }
                    .font-s{
                        font-size: 7vw;
                        width: 100%;
                    }
                    .p{
                        font-weight: 400;
                        line-height:inherit;
                        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
                        margin-top: 10px;
                        width: 100%;
                        max-width: 100%;
                        text-align: center;
                        font-size: 4vw;
                    }
                }
                .hero-right-wrap{
                    display: block;
                    width: 100%;

                    .hero--art{
                        width: 100%;
                    }
                }
                .coye{
                    display: contents;
                    height: 50px;
                    .coye-l{
                        margin-top: 5.4vw;
                        width: 100%;
                        height: 50px;
                        border-radius: 50px;
                        font-size: 4vw;
                        background: linear-gradient(269deg, rgba(53, 1, 106, 0.57) 0%, rgba(95, 19, 127, 0.66) 100%);
                        justify-content: left;
                        padding-left: 3.6vw;
                        align-items: center;
                        position: relative;
                        .coye-r-btn{
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            background: #FFC14A;
                            border-radius: @fillet;
                            right: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: 5px;
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .p{
                        display: none;
                    }
                    .m{
                        display: flex;
                    }
                    .coye-r{
                        margin-top: 2vw;
                        width: 100%;
                        height: 8vw;
                        font-size: 4vw;
                        font-weight: inherit;
                    }
                }
                .container-button{
                    padding-top:2.4vw;
                    .button-a{
                        width: 48%;
                        height: 50px;
                        font-size:18px;
                        font-weight: normal;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: initial;
                    }
                    .button-b{
                        width: 48%;
                        height: 50px;
                        font-size: 18px;
                        font-weight: normal;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: initial;
                    }
                }
            }
        }
    }
}







// 小型号到中型号的平板
@media screen and (min-width:960px) and (max-width:1264px) {}
// 桌面端
@media screen and (min-width:1264px) and (max-width:1904px) {}
// 4K 和超宽屏幕
@media screen and (min-width:1904px) {

    .section__hero{
        .container-1440{
            .hero-wrap{
                .coye{
                    .coye-l{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}