.section__footer{
    position: relative;
    padding:5vw;
    background: #130026;
    .container-1440{
        .footer-wrap{
            .h1{
                font-size: 2.6vw;
                font-weight: bold;
                line-height: inherit;
                font-family: Cabal-Bold, Cabal;
                text-align: center;
            }
            .text{
                margin-top:2.5vw;
                font-size: 1vw;
                font-family: Cabal-Regular, Cabal;
                font-weight: 400;
                color: #FFFFFF;
                width: 56vw;
            }
            .footer-soc-wrap{
                width: min-content;
                display: flex;
                grid-gap: 1vw;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                margin-top: 5vw;
                margin-bottom: 5vw;
                justify-items: center;
                a{
                    font-size: 0.9vw;
                    margin-right: 3.1vw;
                    margin-left: 3.1vw;
                    line-height: inherit;
                    .soc-link--img{
                        width: 4vw;
                        height: 4vw;
                    }
                }
            }
        }
    }
}
.footer{
    background: #090013;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Cabal-Regular, Cabal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 0.5vw;
    padding: 2vw 32px;

}
@media (max-width: 768px) {
    .section__footer{
        display: flex;
        padding-top: 9.2vw;
        padding-bottom: 9.2vw;
        .container-1440{
            .footer-wrap{
                .h1{
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 0px;
                }
                .text{
                    margin-top:5vw;
                    font-size: 16px;
                    width: 100%;
                }
                .footer-soc-wrap{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    margin-top: 5vw;
                    margin-bottom:10vw;
                    .soc-link{
                        font-size:12px;
                        .soc-link--img{
                            width: 38px;
                            height: 38px;
                        }
                    }
                }
            }
        }
    }
    .footer{
        padding: 25px 16px;
        font-size: 10px;
    }
}